.action {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 50px;
    
}

.action::before {
    content: "";
    background-color: red;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}